@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar-x::-webkit-scrollbar {
  display: none;
}

/* .row-posters {
  object-fit: contain;
  width: 100%;
  max-height: 225px;
  margin-right: 10px;
  transition: transform 450ms;
} */

/* .row-posters:hover {
  transform: scale(1.1);
} */

/* .row-posterLarge {
  max-height: 250px;
}

.row-posterLarge:hover {
  transform: scale(1.11);
} */
